:root {
    --main-text-color: #000c05;
    --text-color: #69A660;
}

[data-theme="dark"] {
    --main-text-color: #69A660;
    --text-color: #B0BFB4;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 42rem;
    width: 20rem;
    margin: 1rem 0 0 3rem;
    box-shadow: 0 0 0.5rem 0 #798783 inset;
    border-radius: 1rem;
    z-index: 200;
}

h2 {
    color: var(--main-text-color);
    font-size: 1.5rem;
    text-decoration: underline;
    padding: 0.5rem 2rem;
}

.recipe-category {
    list-style-type: none;
    color: var(--text-color);
    padding: 0.5rem 2rem;
}

.recipe-category li {
    padding-bottom: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.recipe-category li:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1500px) {
    .category {
        width: 15rem;
    }

    h2 {
        font-size: 1.2rem;
        padding-top: 1rem;
    }

    .recipe-category {
        padding-top: 0;
    }
}

@media screen and (max-width: 1000px) {
    .category {
        width: 10rem;
    }

    h2 {
        font-size: 1rem;
        padding-top: 1.5rem;
    }

    .recipe-category {
        padding-top: 0;
    }
}

@media screen and (max-width: 1000px) { 
    .category {
        width: 8rem;
        height: 45rem;
    }

    h2 {
        padding: 0;
    }

    .recipe-category{
        margin: 0;
    }
}

@media screen and (max-width: 425px) { 
    .category {
        width: 7rem;
        height: 40rem;
        margin: 1rem 0 0 1rem;
    }

    .recipe-category {
        font-size: 0.8rem;
        padding: 1rem;
    }
}