:root {
    --main-bg-color: #012611;
    --main-text-color: #69A660;
    --text-color: #B0BFB4;
    --border-color: #000D09;
    --other-color: #014017;
    --next-color: #247329;
    --main-font:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 42rem;
    width: 20rem;
    margin: 1rem 0 0 3rem;
    box-shadow: 0 0 10px 0 var(--main-text-color) inset;
}

h2 {
    color: var(--main-text-color);
    font-size: 1.5rem;
    text-decoration: underline;
    padding: 0.5rem 2rem;
}

.recipe-category {
    list-style-type: none;
    color: var(--text-color);
    padding: 0.5rem 2rem;
}

.recipe-category li {
    padding-bottom: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.recipe-category li:hover {
    transform: scale(1.1);
}
