:root {
    --main-bg-color: #012611;
    --main-text-color: #69A660;
    --text-color: #B0BFB4;
    --border-color: #000D09;
    --other-color: #014017;
    --next-color: #247329;
    --main-font:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.category {
    display: flex;
    border: 0.3rem solid white;
    height: 30rem;
    width: 20rem;
}