:root {
    --main-text-color: #000c05;
    --text-color: #69A660;
    --other-color: #247329;
}

[data-theme="dark"] {
    --main-text-color: #69A660;
    --text-color: #B0BFB4;
    --other-color: #247329;
}

.main-content {
    height: 42rem;
    width: 74rem;
    margin: 1rem 0 0 5rem;
    overflow-y: auto;
}

.no-recipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 15rem;
    color: var(--main-text-color);
}

.recipes-section {
    display: flex;
    flex-direction: column;
}

.list-of-recipes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.one-recipe {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 40%;
    box-shadow: 0 0 0.5rem 0 #798783 inset;
    border-radius: 1rem;
    list-style-type: none;
    text-align: center;
    color: var(--text-color);
    margin: 0 2rem 2rem;
}

.save-recipe {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--text-color);
    font-size: 2rem;
    cursor: pointer;
}

.one-recipe h3 {
    margin: 1rem 2.5rem;
}

.one-recipe img {
    width: 15rem;
    border-radius: 1rem;
}

.author-and-url {
    display: flex;
    align-items: center;
    justify-content: center;
}

.one-recipe p {
    margin-right: 1rem;
}

.one-recipe a {
    color: var(--text-color);
    text-decoration: none;
    font-style: italic;
    color: var(--other-color);
    font-size: larger;
    font-weight: 600;
}

.one-recipe a:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1670px) {
    .main-content {
        width: 70rem;
    }
}
@media screen and (max-width: 1580px) {
    .main-content {
        width: 65rem;
    }

    .list-of-recipes {
        justify-content: center;
    }

    .one-recipe {
        height: 20rem;
    }

    .one-recipe img {
        width: 12rem;
    }
}

@media screen and (max-width: 1440px) {
    .main-content {
        width: 60rem;
    }
}

@media screen and (max-width: 1350px) {
    .main-content {
        width: 55rem;
    }

    .save-recipe {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1270px) {
    .main-content {
        width: 50rem;
        margin: 1rem 0 0 2rem;
    }

    .one-recipe img {
        width: 10rem;
    }

    .one-recipe a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1150px) {
    .main-content {
        width: 45rem;
    }

    .no-recipes {
        font-size: 1rem;
    }

    .one-recipe {
        width: 35%;
    }

    .author-and-url {
        width: 1rem;
    }
}

@media screen and (max-width: 1060px) {
    .main-content {
        width: 40rem;
    }
}

@media screen and (max-width: 1000px) {
    .main-content {
        height: 45rem;
    }

    .one-recipe {
        width: 40%;
    }

    .one-recipe img {
        width: 8rem;
    }
}

@media screen and (max-width: 850px) {
    .main-content {
        width: 35rem;
        margin: 1rem 0 0 0;
    }

    .one-recipe {
        margin: 0 1rem 1rem;
    }
}

@media screen and (max-width: 750px) {
    .main-content {
        width: 30rem;
    }

    .one-recipe {
        width: 50%;
    }
}

@media screen and (max-width: 670px) {
    .main-content {
        width: 25rem;
    }

    .one-recipe {
        margin: 0 0.5rem 0.5rem;
    }
    
}

@media screen and (max-width: 580px) {
    .main-content {
        width: 20rem;
    }

    .one-recipe {
        margin: 0 0.5rem 0.5rem;
    }
    
}

@media screen and (max-width: 500px) {
    .main-content {
        width: 15rem;
    }

    .one-recipe {
        height: 15rem;
    }

    .save-recipe {
        top: 0.5rem;
        right: 0.5rem;
        font-size: 1.5rem;
    }

    .one-recipe h3 {
        font-size: 1rem;
        margin: 1rem 1rem;
    }

    .one-recipe img {
        width: 5rem;
    }

    .author-and-url {
        font-size: 0.7rem ;
    }
    
    .one-recipe p {
        margin-right: 1rem;
    }

    .one-recipe a {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 425px) { 
    .main-content {
        height: 40rem;
    }

    .one-recipe {
        height: 17rem;
    }

    .one-recipe h3 {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 370px) { 
    .main-content {
        width: 10rem;
    }

    .one-recipe {
        width: 12rem;
        margin: 0 0.2rem 0.5rem;
    }
    
    .no-recipes {
        font-size: 0.7rem;
    }
}