:root {
    --main-bg-color: #012611;
    --main-text-color: #69A660;
    --text-color: #B0BFB4;
    --border-color: #000D09;
    --other-color: #014017;
    --next-color: #247329;
    --main-font:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-content {
    display: flex;
    height: 42rem;
    width: 70rem;
    margin: 1rem 0 0 9rem;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0) inset;
}