:root {
    --main-text-color: #000c05;
    --text-color: #69A660;
}

[data-theme="dark"] {
    --main-text-color: #69A660;
    --text-color: #B0BFB4;
}

.heart-icon {
    color: var(--text-color);
    font-size: 2rem;
    margin: 3.5rem 1rem;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .heart-icon {
        font-size: 1.7rem;
        margin: 3.6rem 1rem;
    }
}

@media screen and (max-width: 550px){
    .heart-icon {
    margin: 3.5rem 0.5rem;
    }
}