:root {
    --main-text-color: #000c05;
    --text-color: #69A660;
}

[data-theme="dark"] {
    --main-text-color: #69A660;
    --text-color: #B0BFB4;
}

.heart-icon {
    color: var(--text-color);
    font-size: 2rem;
    margin: 3.5rem 1rem;
    cursor: pointer;
}
