:root {
    --main-text-color: #000c05;
    --text-color: #69A660;
    --button-color: #69A660;
}

[data-theme="dark"] {
    --main-text-color: #69A660;
    --text-color: #B0BFB4;
    --button-color: #014017;
}

.search-field {
    margin-left: 25rem;
}


form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
    height: 5rem;
}

.search-recipe {
    width: 25rem;
    height: 1.5rem;
    border: none;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    color: var(--main-text-color);
    outline: none;
    box-shadow: 0 0 0.3rem 0 #798783 inset;
}

.search-button {
    width: 5rem;
    height: 2.5rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight:600;
    outline: none;
    color: var(--main-text-color);
    background-color: var(--button-color);
    cursor: pointer;
    box-shadow: 0 0 0.3rem 0 #798783 inset;
}

.search-button:hover {
    color: var(--button-color);
    background-color: var(--main-text-color);
}

.search-button:active {
    transform: scale(0.9);
}

@media screen and (max-width: 1100px) {
    .search-field {
        margin-left: 0;
    }

    .search-recipe {
        width: 20rem;
    }
}

@media screen and (max-width: 800px) {
    .search-recipe {
        width: 15rem;
    }
}

@media screen and (max-width: 800px) {
    .search-recipe {
        width: 10rem;
        height: 1rem;
        font-size: 0.7rem;
    }

    .search-button {
        width: 3rem;
        height: 2rem;
        font-size: 0.7rem;
        
    }
}