:root {
    --main-bg-color: #e9ede6;
    --text-color: #69A660;
    --other-color: #247329;
}

[data-theme="dark"] {
    --main-bg-color: #012611;
    --text-color: #B0BFB4;
    --other-color: #247329;
}

* {
    transition: all 0.3s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-bg-color);
}

.icon-default {
    position: absolute;
    right: 40rem;
    top: 20rem;
    height: 15rem;
    opacity: 0.2;
}

.icon-changed {
    position: absolute;
    left: 5rem;
    top: 2rem;
    height: 5rem;
    opacity: 0.5;
}

.icon:hover {
    transform: rotateY(180deg);
    transition: 1.2s;
}

.search-part {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.main-part {
    display: flex;
    flex-wrap: wrap;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74rem;
}

.loading-spinner {
    width: 2rem;
    height: 2rem;
    border: 0.5rem solid var(--text-color);
    border-top: 0.5rem solid var(--other-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg); 
    }
    100% {
      transform: rotate(360deg); 
    }
  }

@media screen and (max-width: 2560px) {
    .icon-default {
        right: 60rem;
    }
}

@media screen and (max-width: 2060px) {
    .icon-default {
        right: 50rem;
    }
}

@media screen and (max-width: 1670px) {
    .icon-default {
        right: 40rem;
    }
}

@media screen and (max-width: 1580px) {
    .icon-default {
        right: 35rem;
    }
}

@media screen and (max-width: 1440px) {
    .icon-default {
        right: 30rem;
    }
}

@media screen and (max-width: 1350px) {
    .icon-default {
        right: 25rem;
    }
}

@media screen and (max-width: 1150px) {
    .icon-default {
        right: 20rem;
    }
}

@media screen and (max-width: 1000px) {
    .icon-default {
        height: 10rem;
    }
}

@media screen and (max-width: 850px) {
    .icon-default {
        right: 15rem;
    }
    
    .icon-changed {
        top: 3rem;
        left: 4rem;
        height: 4rem;
    }
}

@media screen and (max-width: 750px) {
    .icon-default {
        right: 12rem;
    }
}

@media screen and (max-width: 670px) {
    .icon-default {
        right: 10rem;
    }
    
}

@media screen and (max-width: 580px) {
    .icon-default {
        height: 7rem;
    }

    .icon-changed {
        height: 3rem;
    }
}

@media screen and (max-width: 500px) {
    .icon-default {
        right: 6rem;
    }

    .icon-changed {
        top: 3.5rem;
        left: 3rem;
        height: 2rem;
    }
}

@media screen and (max-width: 440px) { 
    .icon-changed {
        display: none;
    }

    .search-part {
        justify-content: center;
    }
}